body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Times New Roman', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000B68;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Times New Roman', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    font-family:'Times New Roman', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #534E4E;
    font-family:'Times New Roman', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #615C5C;
    font-family:'Times New Roman', 'Arial', 'Sans-Serif';
}
