<!DOCTYPE html>
<html>
  <head>
    <title>Gian Carlo Diluvi</title>
    {% seo title=false %}
    {% include meta.html %}

    <script src="https://kit.fontawesome.com/860705268c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    {% include analytics.html %}
  </head>

  <body>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <footer>
        Copyright &copy; Gian Carlo Diluvi, 2024
      </footer>
  </body>
</html>
